{% extends 'base.html' %}
{% block title %} Playlists {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="../static/playlists.css">
{% endblock %}

{% block content %}
    <div id="progress-bar">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
      {% for playlist in playlists %}
        <div class="playlist-card d-flex align-items-center">
            <div class="playlist-card-image">
                <img src="{{playlist.img_url}}" alt="playlist image">
            </div>
          <div class="playlist-card-info">
            <span class="playlist-name">{{playlist.name}}</span>
            <span class="playlist-owner">{{playlist.owner}}</span>
            <a class="playlist-tracks-btn" href="/tracks/{{playlist.id}}">View tracks</a>
              <a class="playlist-tracks-btn download-btn" href="/download/{{playlist.id}}" onclick="startPolling('{{playlist.id}}')" >Download</a>
          </div>
        </div>
      {% endfor %}
    {% block scripts %}
        <script src="../static/progressBar.js"></script>
    {% endblock %}
{% endblock %}

