body {
    background-color: lightgrey;
}

.h-90 {
    height: 90%;
}

.custom-container {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-button {
    all: unset;
}
#home-button:hover {
    cursor: pointer;
}
